* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    vertical-align: baseline;
    font-family: 'Poppins', sans-serif;
    color: #FFF;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
}